<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body id="chat">
    <div>
        salam.
        file is up
    </div>
    <div class="box">
        <ul id="message">
            <li v-for="message in messages"  :key="message">{{message}}</li>
        </ul>
        <form>
            <input v-model="message">
            <button @click="send">send</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

    <script>
        var socket = io();

        new Vue({
            el: "#chat",
            data:{
                message:"",
                messages:[],
            },
            ready: function(){

                socket.on("chat.message", function(message){
                    this.messages.push(message)
                    console.log(message)
                }.bind(this));

                // console.log(this.messages)
            },
            methods: {
                send: function (e) {
                    socket.emit('chat.message', this.message)
                    e.preventDefault();    
                    this.message=""              
                }
            }
        });

    </script>

</body>

</html>